.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.dropdowns{
  height: 16em;
  top: 0;
  gap: 1em;
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.button{
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  color: #bafacb;
  background-color: rgb(33, 193, 73, 0.7);
  border: 0;
  cursor: pointer;
}

.button:hover{
  padding: 0.5em 1.5em;
  border-radius: 0.2em;
  color: white;
  background-color: rgb(33, 193, 73, 0.7);
  border: 0;
  cursor: pointer;
}